In [ ]:
# QUESTION-1 WRITE A CODE TO CREATE A STRING WITH YOUR NAME AND PRINT IT
name = "Daksha"
print(name)

Daksha

In [ ]:
# QUESTION-2 WRITE A CODE TO FIND LENGTH OF THE STRING "HELLO WORLD!"
str1 = "Hello World!"
len(str1)

12

In [ ]:
# QUESTION-3 WRITE A CODE TO SLICE FIRST THREE CHARACTERS FROM THE STRING "Python Programming"
str1 = "Python Programming"
str1[0:4]

'Pyth'

In [ ]:
# QUESTION-4 WRITE A CODE TO CONVERT STRING "hello" to upper case
text = "hello"
text.upper()

'HELLO'

In [ ]:
# QUESTION-5 Write a code to replace the word 'apple' with 'orange' in the string 'I like apple'
sentence = "I like apple"
sentence.replace("apple", "orange")

'I like orange'

In [ ]:
# QUESTION-6 Write a code to create a list with numbers 1 to 5 and print it
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# QUESTION-7 Write a code to append the number 10 to the list [1,2,3,4]
list1 = [1,2,3,4]
list1.append(10)
list1

[1, 2, 3, 4, 10]

In [ ]:
# QUESTION-8 Write a code to remove the number 3 from the list [1,2,3,4,5]
list2 = [1,2,3,4,5]
list2

[1, 2, 3, 4, 5]

In [ ]:
list2.remove(3)
list2

[1, 2, 4, 5]

In [ ]:
# QUESTION-9 Write a code to access the second element in the list ['a','b','c','d']
list1 = ['a','b','c','d']
list1[2]

'c'

In [ ]:
# QUESTION-10 Write a code to reverse the list [10,20,30,40,50]
list1 = [10,20,30,40]
list1[::-1]

[40, 30, 20, 10]

In [ ]:
# QUESTION-11 Write a code to create a tuple with the elements 100,200,300 and print it
tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

In [ ]:
# QUESTION-12 Write a code to access the second to last element of the tuple ('red','green','blue','yellow')
tuple2 = ('red','green','blue','yellow')
tuple2[2:4]

('blue', 'yellow')

In [ ]:
# QUESTION-13 Write a code to find the minimum number in tuple (10,20,5,15)
t1 = (10,20,5,15)
min(t1)

5

In [ ]:
# QUESTION-14 Write a code to find thr index of the element 'cat' in tuple ('dog','cat','rabbit')
tuple1 = ('dog','cat','rabbit')
tuple1.index('cat')

1

In [ ]:
# QUESTION-15 Write a code to create a tuple containing three different fruits and check if kiwi is in it
fruits_name = ("Mango","Banana","Orange")
"kiwi" in fruits_name

False

In [ ]:
# QUESTION-16 Write a code to create a set with the elements 'a','b','c' and print it
set1 = {'a','b','c'}
print(set1)

{'a', 'b', 'c'}

In [ ]:
# QUESTION-17 Write a code to clear all elements from the set {1,2,3,4,5}
numbers = {1,2,3,4,5}
numbers.clear()
numbers

set()

In [ ]:
# QUESTION-18 Write a code to remove the element 4 from the set {1,2,3,4}
s = {1,2,3,4}
s.remove(4)
s

{1, 2, 3}

In [ ]:
# QUESTION-19 Write a code to find the union of two sets {1,2,3} and {3,4,5}
s1 = {1,2,3}
s2 = {3,4,5}
s1|s2

{1, 2, 3, 4, 5}

In [ ]:

# QUESTION-20 Write a code to find the intersection of two sets {1,2,3} and {2,3,4}
s1 = {1,2,3}
s2 = {2,3,4}
s1&s2

{2, 3}

In [ ]:
# QUESTION-21 Write a code to create a dictionary with the keys 'name','age' and 'city' and print it
d = {"name":"Daksha", "age":19, "city":"Delhi"}
d

{'name': 'Daksha', 'age': 19, 'city': 'Delhi'}

In [ ]:
# QUESTION-22 Write a code to add a new key value pair"country:USA to the dictionary {name:John,age:25}
d = {"name":"John","age":25}
d

{'name': 'John', 'age': 25}

In [ ]:
d["country"]="USA"
d

{'name': 'John', 'age': 25, 'country': 'USA'}

In [4]:
# QUESTION-23 Write a code to access the value associated with the key "name" in the dictionary {"name":Alice,"age":30}
d1 = {"name":"Alice","age":30}
d1.get("name")

'Alice'

In [5]:
  # QUESTION-24 Write a code to remove the key 'age'from the dictionary {"name":'Bob', "age":22,"city":'New York'}
d = {"name":"Bob","age":22,"city":"New York"}
d.pop("age")

22

In [6]:
d

{'name': 'Bob', 'city': 'New York'}

In [15]:
  # QUESTION-25 Write a code to check if the key 'city' exists in the dictionary {"name":Alice,"city":'Paris'}
  d2 = {"name":"Alice","city":"Paris"}
  "city"in d2

True

In [14]:
# QUESTION-26 Write a code to create a list , a tuple and a dictionary and print them all
d = {"name":"Daksha","age":19,"city":"Delhi"}
l1 = ["Ajay",2.2,2,5,7,(5+6j)]
t1 = ("pwskills",2,8,9,10)
print(d)
print(l1)
print(t1)

{'name': 'Daksha', 'age': 19, 'city': 'Delhi'}
['Ajay', 2.2, 2, 5, 7, (5+6j)]
('pwskills', 2, 8, 9, 10)

In [16]:
# QUESTION-27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order and print the result(replaced)
string_list = [89,40,55,20,67]
sorted(string_list)

[20, 40, 55, 67, 89]

In [11]:
# QUESTION-28 Write a code to create a list with strings and print the element of the third index
l1 = ["pwskills","vishnu","Madhav","Daksha"]
l1[3]

'Daksha'

In [12]:
# QUESTION-29 Write a code to combine two dictionaries into one and print the result
user_id = [1,2,3]
user_name = ["a21","a22","a23"]
{u_id:u_name for u_id,u_name in zip (user_id,user_name)}

{1: 'a21', 2: 'a22', 3: 'a23'}

In [13]:
# QUESTION-30 Write a code to convert a list of strings into set
l1 = ["ajay","madhav","daksha","dwiti"]
set(l1)

{'ajay', 'daksha', 'dwiti', 'madhav'}